:root{
    --color-prim: #0909a9 ;
    --color-sec: #289fd0 ;
    --color-third: #4c4cf4 ;
    --color-accent: #eeca0d ;
    --color-sec-accent:#f8e26d;
    --color-heading: #7c7c7c ;
    --color-border: ghostwhite;
    --color-body: #7fc7eb ;
    --color-dark:#030343; 
    --color-white:#f9f9f9;
    --color-logo-geen: #89e60b ;
    --color-logo-blue: #4258ea;
}

/*TYPOGRAPHY*/

::selection{
    background: var(--color-sec);
    color: var(--color-accent);
}

/*html{
    font-size: 62.5%;
}*/

.img-small img  {
width: 20% ;
}

img{
    width: 100%;
}


body{
  font-family: "Lora", serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3{
    color: var(--color-border);
    margin-bottom: 1rem;
    line-height: 1.1 ;
}
h1{
    font-size: 6rem;
}

h2{
    font-size: 4rem;
}
h3{
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.3;
}

p{
    margin-top: 0;
}

/*text paletter */

.rubik{
        font-family: "Rubik Bubbles", system-ui;
        font-weight: 400;
        font-style: normal;
  }

.cinzel{
  font-family: "Cinzel", serif;
  font-size: 3rem ; 
  font-weight: 400;
}


.logo-green{
  color: var(--color-logo-geen);
}

.logo-blue{
  color: var(--color-logo-blue);
}


  .sec-color{
    color: var(--color-sec);

  }

  .prim-color{
    color: var(--color-prim);
  }

  .accent-color{
    color: var(--color-accent);
  }
  
  .third-color  {
    color: var(--color-third);
  }

  .white-color{
  color: var(--color-white);
  }

   svg > .white-color{
    color: var(--color-white);
  }

.sec-accent-c{
    color: var(--color-sec-accent);
}

.dark-color{
    color: var(--color-dark) ;
}

@media screen and (min-width: 1024px){

    body{
        font-size: 1.8rem;
    }

    h1{
        font-size: 8rem;
    }

    h2{
        font-size: 4rem;
    }

    h3{
        font-size: 2.4rem ;
    }
}
/*nav-bar*/

.nav-bar{
    background:var(--color-prim) ;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.var__list{
    width: 100%;
    margin: 0;
}

.list{
    list-style: none;
    padding-left: 0;
}

.nav__item{
    padding: 0.5rem 2rem ;
    border-bottom: 3px solid var(--color-sec) ;
    justify-items: left;
}

.nav__item:last-of-type{
    border-bottom: none;
}

.nav__item > a {
    color: var(--color-heading);
}

.nav__toggler {
    opacity: 0.5;
    transition: box-shadow 0.15s;
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {

    
      .nav__list {
        width: auto;
        display: flex;
        font-size: 1.6rem;
        max-height: 100%;
        opacity: 1;
      }
    
      .nav__item {
        border: 0;
      }

    .nav-bar{
        padding: 0;
        
        
    }
    
  }


/*collapsible*/

.collapsible__header {
    display: flex;
    justify-content: space-between;
  }
  
  .collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
  }
  
  .collapsible__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
  }
  
  .collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
  }
  
  .collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
  }
  
  .collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
  }

/*A*/
a:hover{
    color: var(--color-accent);
    transform: color 0.3s;
}

a{
    text-decoration: none;
}


/*icon*/
  .help{
    width: 40;
    height: 40;
  }


  /*Grids*/
.grid{
  display: grid;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.grid-align{
  align-content: center;
  text-align: center;
}


@media screen and (min-width: 768px){
  .grid--1x2{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px){
  .grid--1x3{
    grid-template-columns: repeat(3, 1fr);
  }
}

/*block*/

.block{
  --padding-vertical: 5rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header{
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  margin-top: 0;
}

.block--dark{
  background: var(--color-dark);
}

.block--third{
  background: var(--color-third);
}

.block--sec{
  background: var(--color-sec);
}

.block--accent{
  background: var(--color-accent);
}

/*hero*/
.hero-p{
  margin-top: 8rem;

}

.hero__tagline{
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

@media screen and (min-width: 768px){
  .hero__content{
    text-align: left;
    align-self: center;
  }
}

@media screen and (min-width: 1024px){
  .hero{
    padding-top: 0;
  }
}

/*animat*/



.svg-animat {
	font-family: "Cinzel", sans-serif;
	width: 100%; height: 100%;
}

.svg-text {
	animation: stroke 9s infinite alternate;
	stroke-width: .1;
	stroke: #F9F9F9;
	font-size: 44px ;
}
@keyframes stroke {
	0%   {
		fill: rgba(137,230,11,0); stroke: rgba(249,249,249,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: .2;
	}
	70%  {fill: rgba(137,230,11,0); stroke: rgba(249,249,249,1); }
	80%  {fill: rgba(137,230,11,0); stroke: rgba(249,249,249,1); stroke-width: .3; }
	100% {
		fill: rgba(137,230,11,1); stroke: rgba(249,249,249,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
.wrapper {background-color: #4258EA};


@media screen and (min-width: 1024px){

  .svg-text {
    font-size: 110px;
  }
  
}

/* Media */
.media {
  display: flex;
  margin-bottom: 4rem;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}